- var brandName = 'brand'
- var navItems = [ {'text': '', 'link': '#'} ];
- var footerLinks = [ {text: 'Политика конфиденциальности', link: ''} ];

- function wrapLink(link, prefix, text) { return `<a href="${prefix + link}">${text ?? link}</a>`}
