footer#footer
  h2.title В #[span.accent ТОП] на#[br.lg_hidden] Wildberries
  nav.terms 
    ul 
      li.link
        a(href="#") Политика конфиденциальности
      li.link
        a(href="#") Договор оферты
      li.link
        a(href="#") Согласие на обработку данных
  .instagram
    a.link(href="#")
      +image('instagram.svg')
  .requisites
    p ИП ЛОПАСОВ ВЛАДИМИР ИГОРЕВИЧ
    p ИНН : 64511590826
    p ОГРНИП: 321645100001834004
  .copyright 2021© Все права защищены

