- 
  var facts = [
    "Владелец 3 брендов с оборотом более 3 500 000 рублей",
    "Продал более 7300 товаров с наценкой 300%",
    "За 2 недели вывел товар в ТОП по просьбе подписчиков",
    "Эксперт по закупкам и поиску высокомаржинального товара",
    "Автор методики «В ТОП на WB» о которой вы скоро узнаете"
  ]


- 
  var advantages = [
    { 
      title: "Для тех, кто хочет уйти из найма", 
      desc: `<p>И начать работать на себя! За 30 дней вы изучите принципы работы маркетплейса. Научитесь находить товары по выгодным ценам и продавать их в 2-3 и более раз дороже. </p> 
      <p>Поймете, как заработать столько же, сколько зарабатывали в найме, но при этом работая на себя несколько часов в неделю и это только начало! А дальше рост и масштабирование! И да, совмещать работу в найме и WB на старте можно ;)</p>`
    },
    { 
      title: "Для действующих поставщиков WB", 
      desc: `<p>Я консультирую поставщиков, которые работают на Wildberries и даже не знают элементарных правил продвижения товара. А всё из-за того, что «глаз замыливается» и люди работают по старинке имея средние результаты. В процессе обучения вы узнаете самые свежие и рабочие фишки по продвижению товара, а также Вы будите получать новую информацию в нашем закрытом сообществе, которая только появляется на рынке. В результате Вы увеличите свою прибыль даже с учётом постоянных скидок.</p>`
    },
    { 
      title: "Для владельцев оффлайн бизнеса", 
      desc: `Давно хотели выйти в онлайн? Сейчас самое время! Wildberries это огромный канал сбыта Вашей продукции. Рынок электронной коммерции в России сейчас занимает менее 5% процентов ипостоянно растёт (прогноз роста до 60% как у Amazon США). Это антикризисный рынок, в то время,когда оффлайн-магазины закрывались в пандемию, Wildberries ставил рекорды по продажам и почислу новых клиентов. Вы ещё не на WB? Тогда смело вливайтесь в нашу команду предпринимателей!`
    },
  ]


- 
  var reviews = [
    {img: "rev2.png"},
    {img: "rev1.png"},
    {img: "rev3.png"},
    {img: "rev1.png"},
    {img: "rev2.png"},
    {img: "rev3.png"},
    {img: "rev1.png"},
    {img: "rev2.png"},
    {img: "rev3.png"},
  ]



-
  var abilities = [
    'Научитесь анализировать ниши и находить прибыльные товары для запуска',
    'Поймете какие документы нужны на товар и как их выгодно оформить',
    'Научитесь создавать карточки, баркоды, этикетки. Оформлять поставки и сдавать товар на склад WB',
    'Поймете какое количество товара необходимо для первой поставки',
    'Научитесь рассчитывать правильную цену и скидку, чтобы не уходить в минус во время акций',
    'Узнаете все возможные виды продвижения товара как на самом WB, так и за его пределами',
    'Узнаете из-за чего ваш товар может вылететь из рейтинга и как этого не допустить'
  ]


-
  var awaits = [
    {
      title: 'Обратная связь <br class="lg_hidden"> 2 месяца',
      text: '(1 месяц на обучении, 1 месяц после) никто вас одних «в поле» не бросит!',
      img: 'Learning.svg'
    },
    {
      title: 'Понятные и ёмкие <br class="lg_hidden"> видео уроки ',
      text: '5-15 минут структурированной информации',
      img: 'Video_tutorial.svg'
    },
    {
      title: 'Общий чат учеников',
      text: 'где вы найдёте единомышленников и поддержку. Это то самое окружение, которое нужно для роста!',
      img: 'Ebook.svg'
    },
    {
      title: 'Домашнее задание',
      text: 'чтобы закрепить пройденный материал ',
      img: 'Learning-2.svg'
    },
    {
      title: 'Система мотивации',
      text: 'Система мотивации, из-за которой вы дойдёте до конца и сделаете результат!',
      img: 'Video_tutorial-2.svg'
    },
    {
      title: 'Бонусы',
      text: 'Бонусы, таблицы и чек листы для более простого восприятия информации',
      img: 'Illustration.svg'
    },
  ]



- 
  var modules = [
    {
      title: 'Модуль 0',
      desc: 'Мышление предпренимателя',
      content: 'content'
    },
    {
      title: 'Модуль 1',
      desc: 'Регистрация и Документы предпринимателя',
      content: 'content'
    },
    {
      title: 'Модуль 2',
      desc: 'Поиск товара для продажи. Анализ рынка',
      content: 'content'
    },
    {
      title: 'Модуль 3',
      desc: 'Поиск поставщика и закупка товара',
      content: 'content'
    },
    {
      title: 'Модуль 4',
      desc: 'Создание магазина, контента и карточек товара',
      content: 'content'
    },
    {
      title: 'Модуль 5',
      desc: 'Упаковка и маркировка товара',
      content: 'content'
    },
    {
      title: 'Модуль 6',
      desc: 'Создание поставки и доставка товара на склад WB',
      content: 'content'
    },
    {
      title: 'Модуль 7',
      desc: 'Анализ отчетов о реализации товара',
      content: 'content'
    },
    {
      title: 'Модуль 8',
      desc: 'В ТОП на WB 2021. Продвижение',
      content: 'content'
    },
    {
      title: 'Модуль 9',
      desc: 'Личный наставник',
      content: `
      <ul>
        <li> - 3 индивидуальных консультации с Владимиром Лопасовым по Zoom’у</li>
        <li> - Отдельный чат для PREMIUM учеников с Владимиром Лопасовым</li>
      </ul>
      `
    },
  ]




-
  var tariffs = {
    advantages: [
        '7 основных модулей',
          'Бонусные материалы ',
          'Доступ к урокам 3 месяцев',
          'Закрытый чат учеников ',
          'Домашние задания ',
          'Доступ к аналитике Market Guru на 1 месяц',
          'Проверка домашних заданий',
          '8 Модуль VIP. В ТОП на WB 2021. Продвижение',
          'Рабочие методики вывода товара в ТОП рейтинга»',
          'Создание отзывов без БАНа',
          'Настройка внутренней рекламы на WB',
          'Настройка внешней рекламы, работа с блогерами, соц. сети',
          'Технология привлечения клиентов в ваш магазин',
          'Личный наставник Владимир Лопасов',
          '3 индивидуальных консультации с Владимиром Лопасовым по Zoom’у',
          'Отдельный чат для PREMIUM учеников с Владимиром Лопасовым',
    ],
    units: [
    {
      title: 'Базовый',
      places: 'Занято мест 16/30',
      price: {
        val: '14 990',
        old: '25 000',
        prepay: '1 000'
      },
      links: {
        buy: '#',
        prepay: '#',
      },
      advs: [
        true, true, true, true
      ]
    },
    {
      title: 'VIP',
      places: 'Занято мест 19/25',
      price: {
        val: '24 990',
        old: '40 000',
        prepay: '3 000'
      },
      links: {
        buy: '#',
        prepay: '#',
      },
      advs: [
        true, true, true, true, true, true, true, true, true, true, true, true, true
      ]
    },
    {
      title: 'PREMIUM',
      places: 'Занято мест 2/10',
      price: {
        val: '34 990',
        old: '60 000',
        prepay: '3 000'
      },
      links: {
        buy: '#',
        prepay: '#',
      },
      advs: [
        true, true, true, true, true, true, true, true, true, true, true, true, true, true, true, true
      ]
    },
  ]
  }



-
  var questions = [
    {
      question: 'В каком формате проходит обучение?',
      answer: 'В формате видео уроков, после просмотра которых Вы получаете домашнее задание'
    },
    {
      question: 'Я оплатил курс, что дальше?',
      answer: 'На почту вам придёт сообщение с доступом в личный кабинет, и вы сможете начать Предобучение'
    },
    {
      question: 'Сколько длится обучение?',
      answer: '30 дней'
    },
    {
      question: 'Если у меня возникнут вопросы по д/з?',
      answer: 'Вы задаёте вопрос в чат, и кураторы оперативно отвечают'
    },
    {
      question: 'Когда я начну учиться?',
      answer: 'Доступ к урокам откроется с 20 ноября'
    },
    {
      question: 'Какая сумма нужна на старте?',
      answer: 'Реально начать торговать уже c 30&nbsp;000 - 50&nbsp;000 рублей. Многие заходят и с меньшими суммами,  вы сможете прощупать нишу и поймёте, какой бюджет нужен в дальнейшем.'
    },
  ]