extends parts/layouts/default.pug
block variables
    - var TITLE = 'lopasow.ru | Согласие на обработку данных для пользователей сайта'

block content
  a.bg-purple-700.py-2.px-3.rounded-lg.text-white.fixed.left-3.top-3(href="/") Назад
  div.mx-4.pt-8.mb-12
    h1.text-center.lg_text-5xl.mb-12 Договор оферты
    div
      p
        strong г.Москва, 2021г.
      p Настоящим Индивидуальный предприниматель ИП ЛОПАСОВ ВЛАДИМИР ИГОРЕВИЧ(ОГРНИП: 321645100001834004, далее – Исполнитель), выражает намерение заключить договор на оказание информационно-консультационных услуг с физическими лицами (далее – Заказчик/Заказчики) на условиях настоящей оферты (далее — Договор).
      p
        strong 1. Термины и определения, используемые в настоящем Договоре
      p
        | 1.1. 
        strong
          em(data-redactor-tag='em') Акцепт
        |  – полное и безоговорочное принятие Заказчиком условий настоящего Договора, равносильный заключению двухстороннего письменного Договора с обязательствами для сторон исполнять условия Договора.
      p
        | 1.2. 
        strong
          em(data-redactor-tag='em') Заказчик
        |  – любое дееспособное физическое лицо, совершившее Акцепт условий настоящего Договора и намеренное получить услуги Исполнителя в порядке и на условиях настоящего Договора.
      p
        | 1.3. 
        strong
          em(data-redactor-tag='em') Услуги
        |  — целостная сформированная совокупность оффлайн встреч с Исполнителем и онлайн занятий (вебинаров, тренингов), электронных версий аудио-, видеозаписей занятий, семинаров, курсов, фонограмм, видеограмм, текстовых, аудиовизуальных произведений, связанных между собой и структурированных на определенную тему — программу, защищенных российским и международным законодательством в сфере интеллектуальной собственности и конфиденциальной информации, доступ к которым предоставляется Заказчику посредством Сайта, Веб-страницы, социальных сетей, сервиса Телеграмм, иных сервисов коммуникации. Перечень программ Услуг, срок, режим их оказания, условия приобретения и иные условия, размещены на сайте: 
        a(href='https://www.lopasow.ru') https://www.lopasow.ru
      p
        | 1.4. 
        strong
          em(data-redactor-tag='em') Вебинар
        |  — оказание информационно-консультационных услуг, осуществляемое посредством удаленного доступа через сеть Интернет, проходящее в режиме реального времени. Вебинар может проводиться в форме видео или аудио-трансляции, обмена сообщениями, в иных формах. Обратная связь между Исполнителем и Заказчиком по вопросам темы вебинара, осуществляется с использованием чата определенного онлайн сервиса или на интернет сайте.
      p
        | 1.5. 
        strong
          em(data-redactor-tag='em') Сайт
        |  — совокупность информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу 
        a(href='https://www.lopasow.ru') https://www.lopasow.ru
        | , а также иных сайтов, принадлежащих ИП Шевченко Александру
      p
        | 1.6. 
        strong
          em(data-redactor-tag='em') Персональная ссылка
        |  — доступ в персональный (личный) кабинет, осуществляемый путем направления сообщения Заказчику посредством электронного письма и содержащее информацию,необходимую для получения Заказчиком Услуг по настоящему Договору.
      p
        | 1.7. 
        strong
          em(data-redactor-tag='em') Материалы
        |  — все онлайн занятия (вебинары, тренинги) в форме выступлений/лекций; аудио и видео-практики, аудио- и видео-уроки, записи онлайн трансляций в виде аудиовизуальных произведений, фонограмм и видеограм, фотографические произведения, изображения, статьи и любые другие материалы, полученные Заказчиком как Услуги Исполнителя в рамках исполнения настоящего Договора.
      p
        | 1.8. 
        strong
          em(data-redactor-tag='em') Программное обеспечение (ПО)
        |  – браузер (Internet Explorer, FireFox, Google Chrome и/или аналогичные) для доступа к информационным ресурсам, находящимся в сети Интернет, иные программы для передачи, хранения, обработки предоставляемой информации. Заказчик обязуется самостоятельно обеспечить наличие необходимого ПО на своем персональном компьютере.
      p
        | 1.9. 
        strong
          em(data-redactor-tag='em') Обратная связь
        |  – информационно-консультационная услуга в форме ответов на вопросы в виде вебинара и/или письменного ответа на вопросы по темам обучения посредством сети Интернет.
      p
        strong 2. Предмет Договора
      p 2.1. В соответствии с условиями настоящего Договора Исполнитель обязуется оказать определенные Договором Услуги, а Заказчик обязуется оплатить эти Услуги в порядке и на условиях, определенных Договором.
      p 2.2. Настоящий Договор считается заключенным между Исполнителем, с одной стороны, и Заказчиком, с другой, с момента Акцепта последним условий настоящего Договора.
      p 2.3. Заказчик осуществляет Акцепт Договора после ознакомления с его условиями, размещенными на Сайте и заполнения заявки на участие в выбранной программе Услуг. Акцепт считается совершенным после оплаты Заказчиком Услуг в порядке, определенном условиями Договора.
      p 2.4. Стороны заявляют и гарантируют, что каждая из них обладает необходимыми правами и дееспособностью, позволяющими им выступать Стороной настоящего Договора без нарушений прав каких-либо физических и (или) юридических лиц.
      p
        strong 3. Стоимость Услуг и порядок расчетов
      p 3.1. Стоимость Услуг выражается в валюте Российской Федерации (рублях), зависит от выбранной программы Услуг и указывается на Сайте Исполнителя и в счете на оплату, который высылается Заказчику после заполнения Заказчиком заявки на участие в программе. Стоимость Услуг фиксируется для конкретного Заказчика на день Акцепта Договора.
      p 3.2. Заказчик производит оплату Услуг в российских рублях путем перечисления денежных средств на расчетный счет Исполнителя любым удобным для себя способом, указанным на Сайте или предложенном в счете на оплату после заполнения Заявки на участие в программе Услуг. Конвертация иностранной валюты в российские рубли производится банком Исполнителя по курсу ЦБ РФ на день оплаты.
      p 3.3. Днем оплаты по настоящему Договору считается день списания денежных средств с лицевого счета Заказчика, либо день внесения наличных денежных средств в кредитную организацию, платежному агенту, осуществляющему деятельность по приему платежей физических лиц, либо банковскому платежному агенту (субагенту), осуществляющему деятельность в соответствии с законодательством о банках и банковской деятельности.
      p 3.4. Исполнитель вправе в одностороннем порядке изменить стоимость Услуг до момента оплаты путем публикации новой цены на Сайте.
      p 3.5. Заказчик осуществляет оплату услуг на условиях 100% предоплаты.
      p 3.6. В исключительных случаях с согласия Исполнителя Заказчику может быть предоставлено право оплачивать Услуги частями (в рассрочку), порядок рассрочки платежа определяется по соглашению Сторон.
      p 3.7. В случае оплаты Услуг частями доступ к программе Услуг предоставляется Заказчику только после оплаты выбранной программы Услуг в полном объеме. В случаях установления ежемесячных платежей для отдельных программ Услуг, доступ к Услугам на следующий месяц открывается только после произведения Заказчиком оплаты за очередной месяц, в противном случае Договор считается прекращенным в связи с односторонним отказом Заказчика от исполнения Договора, доступ Заказчика к программе Услуг аннулируется.
      p
        | 3.8. Заказчик имеет право по согласованию с Исполнителем один раз перенести дату получения Услуг, стоимость которых оплачена в полном размере, на следующую дату их предоставления (следующий поток), согласованную Сторонами. Заявление на перенос сроков оказания Услуг в письменной форме с указанием идентифицирующих и контактных данных Заказчика и приложением скана документов, подтверждающих невозможность получения Заказчиком услуг в соответствующем потоке обучения, направляется Заказчиком на адрес электронной почты Исполнителя: 
        a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
        |  Исполнитель рассматривает заявление Заказчика в течение 2 (двух) рабочих дней с момента его получения и направляет ответ Заказчику.
      p 3.9. В случае, если Заказчик по причине, не зависящей от Исполнителя, не пользуется Услугами, оплаченными и предоставляемыми Исполнителем в порядке, определенном условиями Договора, и не заявляет о своем намерении отказаться от исполнения Договора в одностороннем порядке, уплаченные денежные средства возврату не подлежат.
      p
        | 3.10. Если по истечении 5 (пяти) календарных дней после окончания срока оказания Услуг от Заказчика не поступило мотивированной претензии к качеству, объему и/или сроку оказанных Исполнителем Услуг, Услуги по настоящему Договору считаются оказанными надлежащим образом в установленный срок и принятыми Заказчиком. Мотивированная претензия к качеству оказанных Услуг направляется в письменном виде на электронный адрес: 
        a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
        |  и должна содержать ФИО Заказчика, суть предъявляемого требования и доказательства, его обосновывающие.
      p
        strong 4. Условия и порядок оказания Услуг
      p 4.1. После произведения оплаты выбранной программы Услуг на адрес электронной почты Заказчика в течение 1 (одного) часа приходит Персональная ссылка, после получения которой начинает исчисляться срок оказания Услуг.
      p
        | 4.2. В случае неполучения в течение 24 (двадцати четырех) часов Заказчиком Персональной ссылки от Исполнителя, Заказчику необходимо обратиться в службу поддержки Исполнителя путем направления письма на электронную почту: 
        a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
        | .
      p 4.3. Персональная ссылка действительна для одного Заказчика, получившего указанную ссылку. Запрещается передача Персональной ссылки третьим лицам, равно как несанкционированное распространение информации (Материалов), полученной Заказчиком в результате получения Услуг Исполнителя третьим лицам.
      p 4.4. После получения Персональной ссылки Заказчику необходимо заполнить регистрационную форму для доступа к персональному кабинету, указав идентифицирующие и контактные данные.
      p 4.5. Для получения Услуг Заказчик самостоятельно обеспечивает соблюдение надлежащих технических условий персонального компьютера или другого мобильного устройства. 4.6. Расписание оказания Услуг — проведения оффлайн встреч и онлайн занятий (вебинаров, тренингов) может быть изменено Исполнителем в одностороннем порядке путем размещения такой информации любым удобным и доступным для Заказчика способом, в том числе путем размещения на веб-странице, отправления сообщения на электронный адрес Заказчика, СМС сообщения и т.п.
      p 4.6. Обратная связь в виде вебинаров, ответов в чате информационного сервиса в соответствии с программой курса и выбранным тарифом, проводится Исполнителем в соответствии с программой Услуг.
      p 4.7. На выполнение домашних заданий, определенных программой Услуг, Заказчику предоставляется 5 (пять) календарных дней с момента получения доступа к соответствующему видео-уроку, если иные сроки не установлены для конкретного урока. По истечению указанного в настоящем пункте срока отчеты по домашним заданиям могут не принимаются Исполнителем к проверке.
      p 4.8. Проверка домашнего задания осуществляется Исполнителем в течение 7 (семи) рабочих дней с момента получения отчета Заказчика, если иные сроки не установлены для конкретного урока, за исключением программ Услуг, где проверка домашнего задания не предусмотрена. Результат проверки отражается Исполнителем в письменном виде в соответствующем уроке либо устно на ближайшем Вебинаре. На внесение изменений в домашнее задание Заказчиком по замечаниям Исполнителя предоставляется 5 (пять) календарных дней.
      p 4.9. Во время участия на оффлайн встречах и в онлайн занятиях (вебинарах, тренингах) запрещается разжигание межнациональных конфликтов, унижение чести и достоинства других участников программы Услуг, спикера, распространение рекламы, нецензурные выражения и иное поведение, нарушающее морально-этические нормы и требования действующего законодательства. Исполнитель вправе аннулировать дальнейшее участие Заказчика в онлайн занятиях (вебинарах, тренингах) в случае нарушения им вышеуказанных правил.
      p 4.10. Исполнитель вправе привлекать для оказания Услуг по настоящему Договору третьих лиц – профессионалов (экспертов), имеющих соответствующую квалификацию, опыт и профессиональную подготовку.
      p 4.11. Доступ к обучающим Материалам сохраняется за Заказчиком в течение срока, установленного выбранной Заказчиком Программой Услуг.
      p
        strong 5. Обязанности Сторон
      p
        em 5.1.
        |  
        em Во исполнение настоящего Договора Исполнитель обязуется:
      p 5.1.1. оказать Услуги надлежащего качества, обычно предъявляемого к услугам соответствующего рода, в порядке и на условиях, предусмотренных настоящим Договором;
      p 5.1.2. использовать (обрабатывать, хранить) персональные данные, предоставляемые Заказчиком, в порядке, предусмотренном условиями Договора;
      p 5.1.3. предоставлять Заказчику необходимую информацию об Услугах, а равно условиях их оказания;
      p 5.1.4. в кратчайшие сроки информировать Заказчика об изменении порядка предоставления Услуг (датах, расписаниях трансляций) в соответствии с условиями Договора;
      p 5.1.5. исполнять иные обязанности, предусмотренные настоящим Договором.
      p
        em 5.2. Во исполнение настоящего Договора Заказчик обязуется:
      p 5.2.1. Оплатить Услуги в полном объеме в порядке и сроки, предусмотренные настоящим Договором;
      p 5.2.2. предоставить Исполнителю актуальную достоверную контактную информацию о себе в процессе заполнения заявки на участие в программе Услуг, необходимую для направления Заказчику информационных материалов, а также для оперативной связи с Заказчиком в рамках оказания услуг по настоящему Договору, в том числе: фамилию и имя, действующий почтовый ящик, контактный телефон;
      p 5.2.3. обеспечить исправное техническое состояние оборудования (персонального компьютера/планшета, снабженного технически исправленными наушниками и микрофоном), каналов связи (доступа в интернет), и наличие необходимого Программного обеспечения для доступа к оказываемым Исполнителем Услугам;
      p 5.2.4. самостоятельно и своевременно знакомиться с информацией о времени, дате, стоимости и условиях предоставления Услуг, которая размещена на Сайте. Заказчик принимает на себя всю ответственность за последствия несвоевременного ознакомления или неознакомления с информацией, размещаемой для него Исполнителем на Сайте;
      p 5.2.5. соблюдать режим/график предоставления Услуг, в том числе выполнять рекомендации, изложенные в соответствующей программе Услуг, и домашние задания в установленные Исполнителем сроки;
      p 5.2.6. использовать полученную в результате оказания Услуг Исполнителем информацию и Материалы только в целях, определенных программой Услуг, с учетом обеспечения сохранности данной информации от несанкционированного и\или публичного распространения.
      p 5.2.7. соблюдать правила корректного поведения на занятиях с обратной связью;
      p 5.2.8. исполнять иные обязанности, предусмотренные настоящим Договором.
      p
        strong 6. Персональные данные и их использование
      p 6.1. Заказчик дает свое согласие Исполнителю на обработку своих персональных данных, предоставленных при регистрации в закрытом разделе Сайта, а именно: имя, фамилия; изображение (если таковое имеется); адрес электронной почты; контактный телефон; аккаунты в программах обмена сообщениями и социальных сетях.
      p
        | 6.2. Обработка персональных данных означает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, не подпадающих под специальные категории, на обработку которых, согласно
        br
        | действующему законодательству Российской Федерации, требуется письменное
        br
        | согласие Заказчика.
      p 6.3. Обработка Исполнителем персональных данных Заказчика производится исключительно в целях исполнения обязательств по настоящему Договору, а также в целях направления на указанный Заказчиком при регистрации адрес электронной почты, номер мобильного телефона, иной аккаунт онлайн сервиса информационных и рекламных сообщений от Исполнителя, на рассылку которых Заказчик дает свое согласие после Акцепта настоящего Договора.
      p
        | 6.4. Заказчик вправе в любой момент отозвать согласие на обработку своих персональных данных, направив Исполнителю соответствующее уведомления в адрес Исполнителя: 
        a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
        | .
      p При этом Заказчик понимает и признает, что отзыв на обработку персональных данных может повлечь за собой удаление любой информации, касающейся участия Заказчика в программе Услуг, в том числе удаления учетной записи Заказчика в закрытом разделе Сайта и прекращения доступа к Материалам приобретенной программы Услуг.
      p
        strong 7. Ответственность Сторон
      p 7.1. За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации и положениями Договора.
      p 7.2. Исполнитель не несет ответственности за невозможность получения Услуг Заказчиком по причинам, не зависящим от Исполнителя, в том числе из-за ненадлежащего качества интернет-связи провайдера интернета, оборудования программного обеспечения Заказчика и прочее. В данном случае Услуги считаются оказанными надлежащим образом и принятыми Заказчиком.
      p 7.3. Заказчик самостоятельно несет ответственность за сохранение конфиденциальности и безопасности доступа к своему персональному (личному) кабинету, а также все действия, происходящие с помощью персонального (личного) кабинета, и обязуется безотлагательно сообщать Исполнителю о любом нарушении безопасности персонального (личного) кабинета.
      p 7.4. Исполнитель не несет ответственности за несоответствие содержания Услуг ожиданиям Заказчика и /или его субъективную оценку. Такое несоответствие ожиданиям и/или отрицательная субъективная оценка не является основанием считать Услуги предоставленными некачественно, или в несогласованном объеме.
      p 7.5. Исполнитель вправе аннулировать доступ Заказчика к выбранной программе Услуг и потребовать расторжения Договора и возмещения убытков в судебном порядке в случае установления фактов передачи Заказчиком Персональной ссылки, распространения информации и Материалов, полученных в результате оказания Услуг, третьим лицам, а также, публичного распространения.
      p
        strong 8. Порядок изменения и расторжения Договора. Односторонний отказ от исполнения Договора.
      p 8.1. Стороны вправе в любое время изменить или расторгнуть настоящий Договор по взаимному соглашению.
      p
        | 8.2. Заказчик вправе в одностороннем порядке отказаться от исполнения настоящего Договора в течение 14 календарных дней с даты оплаты и при условии оплаты Исполнителю фактически понесенных им расходов, связанным с оказанием Услуг по Договору. Заявление на односторонний отказ от исполнения Договора направляется на адрес электронной почты Исполнителя: 
        a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
        | , и должно содержать информацию, идентифицирующую Заказчика, дату, способ и сумму оплаченных Услуг, а также объем оказанных Заказчику Услуг. Возврат денежных средств за неоказанные Исполнителем Услуги производится в течение 20 (двадцати) календарных дней с момента поступления заявления от Исполнителя, на счет, с которого была произведена оплата Услуг.
      p 8.2.1. Исполнитель в праве отказать в возврате денежных средств Заказчику, в случае обращения Заказчика после 14 дней с момента начала обучения оплаченного им потока курса.
      p 8.3. Односторонний отказ от Услуг, после оплаты которых Заказчик получает доступ ко всем Материалам единовременно, не рассматривается Заказчиком, поскольку Услуги оказаны надлежащим образом и считаются принятыми Заказчиком в соответствии с условиями Договора.
      p 8.4. В случае существенного нарушения условий настоящего Договора Заказчиком Исполнитель вправе заблокировать персональный доступ к программе Услуг Заказчика, требовать расторжения Договора и возмещения убытков в судебном порядке.
      p
        strong 9. Обстоятельства непреодолимой силы
      p 9.1. Стороны освобождаются от ответственности за неисполнение обязательств по настоящему Договору, если оно обусловлено наступлением обстоятельств, возникших помимо их воли и определяемых как обстоятельства непреодолимой силы, которые стороны не могли предвидеть и предотвратить, включая, в частности, стихийные бедствия, войны, национальные и отраслевые забастовки, решения государственных органов власти и т.п.
      p 9.2. Сторона, чье неисполнение обязательств или задержка их исполнения вызваны обстоятельствами непреодолимой силы, должна в срок не позднее 24 (двадцати четырех) часов известить другую сторону о наличии таких обстоятельств, при необходимости (в случае требования другой стороны) представить документы, подтверждающие наличие таких обстоятельств.
      p 9.3. В случае возникновения обстоятельств непреодолимой силы стороны (уполномоченные представители сторон) в возможно короткий срок проведут переговоры с целью выявления приемлемых для них альтернативных способов исполнения настоящего Договора, в том числе переноса дат оказания Услуг до прекращения действия обстоятельств непреодолимой силы (ликвидации их последствий). Стороны вправе принять решение о досрочном прекращении действия Договора, при этом Исполнитель обязуется в течение 5 (пяти) рабочих дней с момента возникновения обстоятельств непреодолимой силы возвратить оплаченную цену Договора (п. 3.1.) Заказчику, за минусом понесенных Исполнителем расходов пропорционально фактически оказанным по настоящему Договору услугам.
      p
        strong 10. Права интеллектуальной собственности. Конфиденциальная информация.
      p 10.1. Любые Материалы, предоставляемые Исполнителем Заказчику в рамках оказания Услуг по настоящему Договору, являются объектами прав интеллектуальной собственности Исполнителя и привлекаемых Исполнителем в рамках программы Услуг третьих лиц – специалистов определенной профессиональной области. Права на объекты интеллектуальной собственности подлежат защите на основании норм Российского и международного права.
      p 10.2. Использование при оказании Услуг объектов авторских и смежных прав, доступ к которым предоставляется Заказчику, осуществляется Исполнителем в порядке, определенном законодательством Российской Федерации и международными соглашениями.
      p 10.3. Запрещается любое копирование, воспроизведение, распространение, исполнение, публичное сообщение, демонстрация, показ, использование, перевод, переработка, адаптация и любые подобные изменения Материалов без предварительного письменного согласия Исполнителя.
      p
        strong 11. Разрешение споров
      p 11.1. В случае возникновения между сторонами любых споров или разногласий, связанных с исполнением настоящего Договора или выполнением либо невыполнением любой стороной обязательств по Договору, стороны приложат все усилия для их дружественного разрешения путем переговоров. Если споры не могут быть разрешены путем переговоров, спорные вопросы передаются на судебное рассмотрение в порядке, установленном действующим законодательством Российской Федерации.
      p
        strong 12. Прочие условия
      p 12.1. Во всем, что прямо не предусмотрено настоящим Договором, стороны руководствуются действующим законодательством Российской Федерации.
      p 12.2. Настоящий Договор вступает в силу с момента Акцепта Договора Заказчиком в порядке, предусмотренном его условиями, и действует до исполнения сторонами своих обязательств по Договору в полном объеме.
      p
        strong 13. Реквизиты Исполнителя:
        br
        | ИП ЛОПАСОВ ВЛАДИМИР ИГОРЕВИЧ
        br
        | ИНН : 64511590826
        br
        | ОГРНИП: 321645100001834004