extends parts/layouts/default.pug
block variables
    - var TITLE = 'lopasow.ru | Согласие на обработку данных для пользователей сайта'

block content
  a.bg-purple-700.py-2.px-3.rounded-lg.text-white.fixed.left-3.top-3(href="/") Назад
  div.mx-4.pt-8.mb-12
    h1.text-center.lg_text-5xl.mb-12 Согласие на обработку данных для пользователей сайта
    div
      p Продолжая работу на сайте, пользователь предоставляет свое согласие «ИП ЛОПАСОВ ВЛАДИМИР ИГОРЕВИЧ, ИНН : 64511590826 , ОГРНИП: 321645100001834004 на обработку данных пользователя (файлы cookie, сведения о действиях, которые совершаются пользователем на сайте, сведения об используемых для этого устройствах, дата и время сессии), в т. ч. с использованием метрических программ, путем совершения следующих действий: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, блокирование, удаление, уничтожение, передача (предоставление, доступ) аффилированным лицам, описание услуг которых содержится в соответствующих разделах сайта, а также партнера, предоставляющим сервис по метрическим программам. Обработка данных осуществляется в целях улучшения работы сайта, совершенствования продуктов и услуг и его аффилированных лиц, указанных выше, определения предпочтений пользователя, предоставления целевой информации по продуктам и услугам и партнеров.
      p
        br
        | Настоящее согласие действует с момента его предоставления и в течение всего периода использования сайта.
      p
        br
        | В случае отказа от обработки данных метрическими программами пользователь считается проинформированным о необходимости прекратить использование сайта.