extends parts/layouts/default.pug

block variables
    - var TITLE = 'Холст на заказ'

block content
  h1 В #[span.accent ТОП] на Wildberries

  section
    .title
      h2 Заставь алгоритмы маркетплейса продвигать свой товар
    .wrapper
      p.desc Авторский практикум по выходу на WB и дальнейшему развитию бизнеса от Владимира Лопасова 
      +image('1.svg')
      .text 
        +image('gift.svg')
        span Доступ к сервису аналитики на 1 месяц
      a.button Хочу научиться

  section
    .wrapper
      .video
      h2 За 3 минуты рассказываю чем мой подход к построению бизнеса #[span.accent отличается от других]
  
  section
    .title
      h2 Автор практикума #[span.accent Владимир Лопасов]
    .wrapper
      ul
        - 
          var facts = [
            "Владелец 3 брендов с оборотом более 3 500 000 рублей",
            "Продал более 7300 товаров с наценкой 300%",
            "За 2 недели вывел товар в ТОП по просьбе подписчиков",
            "Эксперт по закупкам и поиску высокомаржинального товара",
            "Автор методики «В ТОП на WB» о которой вы скоро узнаете"
          ]
        each fact in facts
          li #[+image('circle.svg')] !{fact}
  section
    .title
      h2 #[span.accent Для кого] я создал этот практикум:
    .wrapper
      .advantages 
        - 
          var advantages = [
            { 
              title: "Для тех, кто хочет уйти из найма", 
              desc: `<p>И начать работать на себя! За 30 дней вы изучите принципы работы маркетплейса. Научитесь находить товары по выгодным ценам и продавать их в 2-3 и более раз дороже. </p> 
              <p>Поймете, как заработать столько же, сколько зарабатывали в найме, но при этом работая на себя несколько часов в неделю и это только начало! А дальше рост и масштабирование! И да, совмещать работу в найме и WB на старте можно ;)</p>`
            },
            { 
              title: "Для действующих поставщиков WB", 
              desc: `<p>Я консультирую поставщиков, которые работают на Wildberries и даже не знают элементарных правил продвижения товара. А всё из-за того, что «глаз замыливается» и люди работают по старинке имея средние результаты. В процессе обучения вы узнаете самые свежие и рабочие фишки по продвижению товара, а также Вы будите получать новую информацию в нашем закрытом сообществе, которая только появляется на рынке. В результате Вы увеличите свою прибыль даже с учётом постоянных скидок.</p>`
            },
            { 
              title: "Для владельцев оффлайн бизнеса", 
              desc: `Давно хотели выйти в онлайн? Сейчас самое время! Wildberries это огромный канал сбыта Вашей продукции. Рынок электронной коммерции в России сейчас занимает менее 5% процентов ипостоянно растёт (прогноз роста до 60% как у Amazon США). Это антикризисный рынок, в то время,когда оффлайн-магазины закрывались в пандемию, Wildberries ставил рекорды по продажам и почислу новых клиентов. Вы ещё не на WB? Тогда смело вливайтесь в нашу команду предпринимателей!`
            },
          ]
        each adv in advantages
          .card 
            .title
              +image('check.svg')
              h3!= adv.title
            .desc!= adv.desc

  section
    +image('2.svg')
    .title
      h2 «Если Вашего #[span.accent бизнеса нет в онлайне], то у Вас нет бизнеса»
    .wrapper
      p Сейчас эта фраза актуальна как никогда!
  
  section
    .title
      h2 #[span.accent Отзывы] о моей работе
    .wrapper
      p Сейчас эта фраза актуальна как никогда!
  