extends parts/layouts/default.pug
block variables
    - var TITLE = 'lopasow.ru | Согласие на обработку данных для пользователей сайта'

block content
  a.bg-purple-700.py-2.px-3.rounded-lg.text-white.fixed.left-3.top-3(href="/") Назад
  div.mx-4.pt-8.mb-12
    h1.text-center.lg_text-5xl.mb-12 Согласие на обработку данных для пользователей сайта
    div
      | ПОЖАЛУЙСТА, ВНИМАТЕЛЬНО ПРОЧИТАЙТЕ ПОЛИТИКУ КОМПАНИИ, ОНА СОДЕРЖИТ ВАЖНУЮ ИНФОРМАЦИЮ ОБ ИСПОЛЬЗОВАНИИ ВАШИХ ПЕРСОНАЛЬНЫХ ДАННЫХ.
      br
      br
      br
      | ВАШ ДОСТУП К ПЛАТФОРМЕ И ИСПОЛЬЗОВАНИЕ ПЛАТФОРМЫ ОЗНАЧАЮТ ВАШЕ СОГЛАСИЕ С УСЛОВИЯМИ ОБРАБОТКИ ВАШИХ ПЕРСОНАЛЬНЫХ ДАННЫХ НА ПЛАТФОРМЕ.
      br
      br
      br
      | ПОЛЬЗУЯСЬ ПЛАТФОРМОЙ ИЛИ ОБРАЩАЯСЬ К ПЛАТФОРМЕ, ВЫ СОГЛАШАЕТЕСЬ С ПОЛИТИКОЙ. ЕСЛИ ВЫ НЕ СОГЛАШАЕТЕСЬ С ПОЛИТИКОЙ ИЛИ НЕ ПРЕДОСТАВЛЯЕТЕ СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ВЫ НЕ МОЖЕТЕ ПОЛУЧИТЬ ДОСТУП К ПЛАТФОРМЕ ИЛИ ИСПОЛЬЗОВАТЬ ПЛАТФОРМУ.
      br
      br
      br
      | Политика разработана в соответствии с положениями Федерального закона от 27.07.2006 № 152-ФЗ «О Персональных данных» (с изменениями и дополнениями), другими законодательными и нормативными правовыми актами («ФЗ-152»).
      br
      br
      br
      | Политика определяет как

      .tn-atom
        p
          | ИП ЛОПАСОВ ВЛАДИМИР ИГОРЕВИЧ
          br
          | ИНН : 64511590826
          br
          | ОГРНИП: 321645100001834004
      | собирает, использует и раскрывает информацию, когда вы используете (i) веб-сайт в сети интернет 
      a(href='https://www.lopasow.ru') https://www.lopasow.ru, включая все его поддомены, (ii) иные сайты, через которые ИП предоставляет свои услуги, а также (iii) все связанные с ними услуги.
      br
      br
      br
      | Мы ценим вашу безопасность и неприкосновенность личной информации и усердно трудимся над тем, чтобы получать как можно меньше ваших Персональных данных (как определено ниже). Тем не менее, любая компания, оказывающая услуги в сети интернет, будет неизбежно собирать информацию о тех, с кем взаимодействует и кто пользуется ее услугами.
      br
      br
      br
      | Политика объясняет как мы собираем, храним, используем, обрабатываем и защищаем ваши Персональные данные, получаемые нами в процессе нашей обычной хозяйственной деятельности. При использовании вами Платформы и для целей предоставления вам Услуг вы также даете ИП свое согласие на обработку ваших Персональных данных, в том числе путем трансграничной передачи, передачи сторонним поставщикам и аффилированным с ИП лицам.
      br
      br
      br
      | ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
      br
      br
      br
      | Термины, указанные в Политике с заглавной буквы, имеют следующие значения :
      br
      br
      br
      | «Данные» означает любые сведения любого характера, которые создаются или имеют отношение к Субъекту персональных данных и не относятся к Персональным данным.
      br
      br
      | «Законодательство» означает законодательство Российской Федерации, на территории которой осуществляется Обработка персональных данных (как определено ниже).
      br
      br
      | «Информационная система персональных данных» означает совокупность содержащихся в базах данных Персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
      br
      br
      | «Обработка персональных данных» имеет значение, указанное означает любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с Персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных.
      br
      br
      | «Оператор» имеет значение, указанное в преамбуле.
      br
      br
      | «Персональные данные» означает любую информацию, относящуюся прямо или косвенно к определенному Субъекту персональных данных. В частности, но не исключая, к персональным данным относятся фамилия, имя, отчество, адрес электронной почты, контактный телефон, ссылки на профили (страницы) в социальных сетях или веб-сайтах, фотографии и аватарки, возраст, место работы и должность, пол и дата рождения.
      br
      br
      | «Платформа» имеет значение, указанное в преамбуле.
      br
      br
      | «Предоставление персональных данных» означает действия, направленные на раскрытие Персональных данных определенному лицу или кругу лиц.
      br
      br
      | «Приложение» имеет значение, указанное в преамбуле.
      br
      br
      br
      | «Регулирующие документы» означает Условия использования и Политику обработки Персональных данных, размещенные на Сайте.
      br
      br
      | «Сайт» имеет значение, указанное в преамбуле.
      br
      br
      | «Субъект Персональных данных» означает физическое лицо, к которому относятся Персональные данные.
      br
      br
      | «Уничтожение персональных данных» означает действия, в результате которых невозможно восстановить содержание Персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители Персональных данных.
      br
      br
      | «ФЗ-152» имеет значение, указанное в преамбуле.
      br
      br
      br
      | ПРИНЦИПЫ ОБРАБОТКИ
      br
      br
      br
      | Оператор осуществляет Обработку Персональных данных и Данных на основе следующих принципов:
      br
      br
      br
      | законности и справедливой основы;
      br
      br
      | ограничения обработки Персональных данных достижением конкретных, заранее определенных и законных целей;
      br
      br
      | недопущения обработки Персональных данных, несовместимой с целями сбора Персональных данных;
      br
      br
      | недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;
      br
      br
      | обработки только тех Персональных данных, которые отвечают целям их обработки;
      br
      br
      | соответствия содержания и объема обрабатываемых Персональных данных заявленным целям обработки;
      br
      br
      | недопущения обработки Персональных данных, избыточных по отношению к заявленным целям их обработки;
      br
      br
      | обеспечения точности, достаточности и актуальности Персональных данных по отношению к целям обработки Персональных данных;
      br
      br
      | уничтожения либо обезличивания Персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения Оператором допущенных нарушений Персональных данных, если иное не предусмотрено Законодательством.
      br
      br
      br
      | Оператор обеспечивает, чтобы каждый Субъект Персональных данных и Данных имел возможность ознакомиться со своими Персональными данными и Данными.
      br
      br
      | Субъект персональных данных вправе требовать от Оператора уточнения, блокирования или Уничтожения персональных данных или Данных, если Персональные данные или Данные являются: (i) неполными, (ii) устаревшими, (iii) неточными, (iv) незаконно полученными или (v) не являются необходимыми для целей обработки.
      br
      br
      br
      | ЦЕЛЬ ОБРАБОТКИ
      br
      br
      br
      | Оператор вправе обрабатывать Персональные данные и Данные в целях:
      br
      br
      | идентификации и верификации Субъекта персональных данных;
      br
      br
      | обеспечения доступа к Платформе и отдельным ее функциям;
      br
      br
      | взаимодействия Оператора с Субъектом персональных данных;
      br
      br
      br
      | предоставления ответов на запросы государственных органов;
      br
      br
      | улучшения качества обслуживания и модернизации Платформы;
      br
      br
      | реализации партнерских программ с третьими лицами;
      br
      br
      | исполнения требований Законодательства;
      br
      br
      | направления Субъекту персональных данных рекламных материалов, информации и запросов, рассылок (в том числе по электронной почте или посредством СМС-сообщений, push-уведомлений, сообщений в мессенджерах);
      br
      br
      | проведения статистических и иных исследований.
      br
      br
      br
      | Обезличенные данные Субъектов персональных данных, полученные с помощью сервисов интернет-статистики, служат для сбора информации о действиях Субъекта персональных данных на Платформе, улучшения качества Платформы и ее содержания.
      br
      br
      br
      | ПЕРЕЧЕНЬ ДЕЙСТВИЙ С ДАННЫМИ
      br
      br
      br
      | Субъект персональных данных дает согласие Оператору осуществлять следующие действия (операции) его с Персональными данными и Данными с использованием или без использования средств автоматизации («Обработка Персональных данных»):
      br
      br
      br
      | сбор; запись; систематизацию; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передачу (распространение, предоставление, доступ); обезличивание; блокирование; удаление; а также Уничтожение персональных данных.
      br
      br
      br
      | УСЛОВИЯ ОБРАБОТКИ
      br
      br
      br
      | Оператор вправе обрабатывать Персональные данные и Данные в следующих случаях:
      br
      br
      br
      | при согласии Субъекта персональных данных на обработку Персональных данных;
      br
      br
      br
      | Персональные данные подлежат опубликованию или обязательному раскрытию в соответствии с Законодательством;
      br
      br
      br
      | Оператор не раскрывает третьим лицам Персональные данные и Данные без согласия Субъекта персональных данных, за исключением случаев, установленных в Законодательстве и Регулирующих документах;
      br
      br
      br
      | Персональные данные и Данные могут быть переданы партнерам Оператора для исполнения обязанностей, предусмотренных Регулирующими документами;
      br
      br
      br
      | Оператор не обрабатывает Персональные данные и Данные, относящиеся к специальным категориям и касающиеся: (i) расовой и национальной принадлежности, (ii) политических взглядов, религиозных или философских убеждений, (iii) состояния здоровья, интимной жизни Субъекта персональных данных, (iv) членства Субъекта персональных данных в общественных объединениях, за исключением случаев, прямо предусмотренных Законодательством;
      br
      br
      br
      | Персональные данные собираются и обрабатываются на территории Российской Федерации.
      br
      br
      br
      | Оператор обязуется использовать Персональные данные в соответствии с Законодательством и Регулирующими документами.
      br
      br
      br
      | Оператор вправе сохранять архивную копию Персональных данных и Данных;
      br
      br
      br
      | Оператор вправе передавать Персональные данные и Данные Субъекта персональных данных без согласия Субъекта персональных данных следующим лицам:
      br
      br
      br
      | государственным органам, в том числе: (i) органам дознания и следствия, (ii) органам местного самоуправления по их мотивированному запросу;
      br
      br
      br
      | партнерам Оператора с целью выполнения договорных обязательств перед Субъектом персональных данных;
      br
      br
      br
      | иным лицам в случаях, прямо предусмотренных Законодательством.
      br
      br
      br
      | Оператор вправе передавать Персональные данные иным третьим лицам в следующих случаях:
      br
      br
      br
      | Субъект персональных данных выразил свое согласие на такие действия;
      br
      br
      br
      | передача необходима в рамках исполнения Субъектами персональных данных Регулирующих документов;
      br
      br
      br
      | передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части) Оператором, при этом к приобретателю переходят все обязательства по соблюдению условий Политики;
      br
      br
      br
      | Оператор осуществляет автоматизированную обработку Персональных данных и Данных.
      br
      br
      br
      | Оператор вправе:
      br
      br
      br
      | проводить статистические и иные исследования на основе обезличенной информации, предоставленной Субъектом персональных данных;
      br
      br
      br
      | предоставлять доступ к исследованиям третьим лицам для осуществления таргетинга рекламы;
      br
      br
      br
      | предоставить информацию о Субъектах персональных данных государственным органам в случаях, предусмотренных законодательством;
      br
      br
      br
      | предоставить информацию о Субъектах персональных данных третьим лицам для: (i) выявления и пресечения мошеннических действий, (ii) для устранения технических неполадок или проблем с безопасностью;
      br
      br
      br
      | предоставлять доступ к информации о Субъекте персональных данных третьим лицам, если Субъект персональных данных дал на это свое согласие, а также если такая передача необходима для исполнения Оператором своих обязательств;
      br
      br
      br
      | не проверять: (i) достоверность предоставленной Субъектом персональных данных информации и (ii) дееспособность Субъекта персональных данных.
      br
      br
      br
      | Субъект персональных данных вправе:
      br
      br
      br
      | Получать у Оператора информацию, касающуюся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
      br
      br
      br
      | отозвать согласие на обработку Персональных данных или Данных, согласие на получение информационных рассылок и рекламных материалов, направив заявление по адресу: support@qmrktng.com.
      br
      br
      br
      | Персональные данные в социальных сетях. Субъекты персональных данных предоставляют согласие на использование и последующую обработку Персональных данных, содержащихся в социальных сетях.
      br
      br
      br
      | Cookies. Платформа использует куки-файлы, «cookies» (текстовые файлы для идентификации), размещаемые на жестких дисках Субъектов персональных данных, для содействия в настройке пользовательского интерфейса в соответствии с предпочтениями Субъектов персональных данных. Куки-файлы создаются в процессе действий Субъекта персональных данных на Платформе.
      br
      br
      br
      | Иные виды техническое информации. Оператор получает доступ к следующей информации:
      br
      br
      br
      | данным об активности Субъекта персональных данных в сети Интернет, в частности, о посещенных страницах, дате и времени URL-переходов и пр.;
      br
      br
      br
      | данным о взаимодействии с демонстрируемыми вне ресурса рекламными объявлениями Платформы, их количестве, частоте и глубине просмотра;
      br
      br
      br
      | информации о браузере или иной программе, интерфейсе, при помощи которой осуществляется доступ к Платформе;
      br
      br
      br
      | технические характеристики оборудования и программного обеспечения, используемого Субъектом персональных данных, дата и время доступа к Платформе и иные сведения.
      br
      br
      br
      | ПЕРЕЧЕНЬ ОБРАБАТЫВАЕМЫХ ДАННЫХ
      br
      br
      br
      | Субъект персональных данных дает ИП согласие на обработку следующих Персональных данных:
      br
      br
      | фамилии, имени, отчества;
      br
      br
      | адреса электронной почты;
      br
      br
      | контактного телефона;
      br
      br
      | ссылок на профили (страницы) в социальных сетях или веб-сайтах;
      br
      br
      | фотографий и/или аватарок;
      br
      br
      | возраста, пола и даты рождения;
      br
      br
      | иной информации, предоставляемой Субъектом персональных данных Оператору на Платформе.
      br
      br
      br
      | Субъект персональных данных дает согласие Оператору сохранять и обрабатывать следующие Данные:
      br
      br
      | время и дату использования Платформы;
      br
      br
      | просмотренные страницы Сайта;
      br
      br
      | количество переданных байтов;
      br
      br
      | гиперссылки, по которым переходили Субъекты персональных данных;
      br
      br
      | адреса интернет-протокола (IP) Субъекта персональных данных или идентификаторы устройств Субъекта персональных данных.
      br
      br
      br
      | ПОРУЧЕНИЕ ОБРАБОТКИ ДАННЫХ
      br
      br
      br
      | Оператор вправе поручить обработку персональных данных другому лицу с согласия Субъекта персональных данных, если иное не предусмотрено Законодательством, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку Персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные ФЗ-152.
      br
      br
      br
      | ТРАНСГРАНИЧНАЯ ПЕРЕДАЧА ДАННЫХ
      br
      br
      br
      | Оператор обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу Персональных данных, обеспечивается адекватная защита прав субъектов Персональных данных, до начала осуществления такой передачи.
      br
      br
      br
      | Трансграничная передача Персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов Персональных данных, может осуществляться в случаях:
      br
      br
      br
      | наличия согласия в письменной форме Субъекта персональных данных на трансграничную передачу его персональных данных;
      br
      br
      br
      | исполнения договора, стороной которого является субъект персональных данных.
      br
      br
      br
      | ИЗМЕНЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ И ДАННЫХ
      br
      br
      br
      | Способы изменения. Субъект персональных данных может в любой момент изменить (обновить, дополнить) Персональные данные, сообщив об этом по адресу электронной почты leo.shevchenko@bk.ru
      br
      br
      br
      | Удаление Персональных данных. Субъект персональных данных в любой момент вправе удалить Персональные данные и Данные, сообщим об этом по адресу электронной 
      a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
      br
      br
      br
      | КОНФИДЕНЦИАЛЬНОСТЬ
      br
      br
      br
      | Оператор и иные лица, получившие доступ к Персональным данным, обязуются не раскрывать третьим лицам Персональные данные без согласия Субъекта персональных данных, если иное не предусмотрено Законодательством.
      br
      br
      br
      | Обеспечение конфиденциальности не требуется в отношении:
      br
      br
      br
      | Персональных данных после их обезличивания;
      br
      br
      br
      | Персональных данных, доступ неограниченного круга лиц к которым предоставлен Субъектом персональных данных либо по его просьбе;
      br
      br
      br
      | Персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с Законодательством.
      br
      br
      br
      | СОГЛАСИЕ НА ОБРАБОТКУ
      br
      br
      br
      | Согласие. Субъект персональных данных дает согласие Оператору на обработку его Персональных данных свободно, своей волей и в своем интересе.
      br
      br
      br
      | Срок согласия. Согласие Субъекта персональных данных на обработку Персональных данных действует в течение 30 лет с момента его представления Субъектом персональных данных.
      br
      br
      br
      | Трансграничная передача. Субъект персональных данных дает согласие Оператору на трансграничную передачу его Персональных данных при условии, что иностранным государством, на территорию которого предполагается осуществлять передачу Персональных данных, обеспечивается адекватная защита прав субъектов Персональных данных
      br
      br
      br
      | Отзыв согласия. Субъект персональных данных, который предоставил Оператору согласие на обработку Персональных данных, вправе в любой момент отозвать согласие на обработку Персональных данных на Сайте.
      br
      br
      br
      | Открытость и общедоступность. Персональные данные лиц, вступивших в договорные обязательства с Оператором, содержащиеся в единых государственных реестрах юридических лиц и индивидуальных предпринимателей, являются открытыми и общедоступными, за исключением сведений о номере, дате выдачи и органе, выдавшем документ, удостоверяющий личность физического лица. Охраны их конфиденциальности и согласия Субъекте персональных данных на обработку не требуется.
      br
      br
      br
      | ИНЫЕ ПОЛОЖЕНИЯ
      br
      br
      br
      | Порядок разрешения споров. Все споры подлежат разрешению в соответствии с Законодательством.
      br
      br
      br
      | Досудебный порядок. Перед обращением в суд Субъект персональных данных обязуется соблюсти обязательный досудебный порядок и направить Оператору соответствующую претензию в письменном виде. Срок ответа на претензию составляет 30 рабочих дней.
      br
      br
      br
      | Действительность. Если по тем или иным причинам одно или несколько положений Политики будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Политики.
      br
      br
      br
      | Изменения Политики. Оператор вправе в любой момент изменять Политику (полностью или в части) в одностороннем порядке без предварительного согласования с Субъектом персональных данных. Все изменения вступают в силу на следующий день после размещения на Платформе.
      br
      br
      br
      | Самостоятельное отслеживание изменений. Субъект персональных данных обязуется самостоятельно следить за изменениями Политики путем ознакомления с актуальной редакцией.
      br
      br
      br
      | ОБРАТНАЯ СВЯЗЬ
      br
      br
      br
      | Чтобы задать вопрос или отозвать согласие на обработку Персональных данных, обратитесь в службу поддержки по адресу 
      a(href='mailto:lopasoff@gmail.com') lopasoff@gmail.com
      br
      br
      br
      | ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
      br
      br
      br
      | Иные права и обязанности Оператора как оператора персональных данных определяются законодательством Российской Федерации в области персональных данных. Должностные лица Оператора, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном федеральным законом.